* ,html, body {
    margin: 0;
}

section {
    min-height: 100vh;
}

.hs {
    background: linear-gradient(to right, #56E0E0, #005C7B);
    font-size: xx-large;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price-container {
    width: 100%;
    margin-top: 13vh;
    padding-top: 3em;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.price-content {
    width: 75%;
}

.price-list {
    border: 3px solid black;
    cursor: pointer;
}

.price-list:hover {
    transition: linear 0.1s;
    border: 3px solid white;
    color: white;
    background: linear-gradient(to right, #56E0E0, #005C7B);
}

.ubt {
    width: 9vw;
    background-image: linear-gradient(to right, #56E0E0, #005C7B);
}

.ubt:hover {
    background-image: linear-gradient(to right, #61ffff, #0298ca);
}

.alamat-container {
    margin-top: 20vh;
}